body {
    background-color: rgb(244, 245, 225);
    display: grid;
    grid-template-rows: 80% 30%;
}

img.logo{
    width: 40%;
    border-radius: 4px;
}
form {
    background-color: #4654e1;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
input.search {
    /* margin: 50px 0; */
    /* background: none; */
    color: black;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 300px;
    height: 40px;
}
input:focus {
    outline: none;
    border-bottom: 3px solid white;
    color: black;
}
button {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    position: absolute;
    top: 200px;
    left: 275px;
}
button:focus {
    outline: none;
}
.all{
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 75% 25%;
}
.elements{
    margin: 0;
    /* position: relative; */
}
.imgillustration{
    position: relative;
}
img.illus{
    width: 95%;
}
/* .bottomlinks{
    position: relative;
    top: 90%;
} */
.footer {
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 100%;
    background-color: rgb(130, 131, 105);
    color: white;
    text-align: left;
}
.browseby{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 25%;
}