{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/front.css' %}" />
        <title>Online Course retrieval</title>
    </head>
    <body>
        <div class="all">
            <div class="elements">
                <img class="logo" src="{% static 'images/illus.png' %}" />
                <h3>
                    Search for 1000s of Courses online on Coursera, EdX, Udemy,
                    Udacity, etc.
                </h3>
                <form action="/home/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit" />
                </form>
            </div>

            <div class="imgillustration">
                <img class="illus" src="{% static 'images/illus.png' %}" />
            </div>
        </div>

        <div class="footer">
            <div class="bottomhead">Home</div>
            <div class="browseby">
                <div class="bbsubject">
                    Browse by Subject
                    <ul>
                        <li><a>CS</a></li>
                        <li><a>Math</a></li>
                        <li><a>Physics</a></li>
                        <li><a>Biology</a></li>
                    </ul>
                </div>

                <div class="bbprovider">
                    Browse by provider
                    <ul>
                        <li><a>Coursera</a></li>
                        <li><a>Udemy</a></li>
                        <li><a>EdX</a></li>
                        <li><a>Udacity</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
