<html>
    <head>
        <link rel="stylesheet" href="results.css">
        <title>
            Online Course retrieval
        </title>
    </head>
    <body>
        <div class="container">

            <div class="imglogo">
                <a href="frontpage.html">
                    <img class="logo" src="logo1.png">
                </a>
            </div>

            <div class="searchbar">
                <!-- <form id="form"> 
                    <input type="search" id="query" name="q" placeholder="Search...">
                    <button>Search</button>
                </form> -->
                <input class="search" value="" placeholder="Search..." id="searchBar">
                <button><i class="fas fa-search"></i></button>
            </div>

            <div class="heading">
                <h2 class="title">
                    x Search results found for #insert query
                </h3>
            </div>

        </div>

        <div class="headline"><hr></div>

        <div class="bodycontainer">

            <div class="leftfilterbar">
                <div class="filterhead">
                    Filter search
                </div>

                <div class="headline"><hr></div>

                <div id="checkboxes">
                    <label>Level</label>
                    <br>
                    <ul>
                        <li><input type="checkbox"> checkbox 1</li>
                        <li><input type="checkbox"> checkbox 2</li>
                        <li><input type="checkbox"> checkbox 3</li>
                    </ul>
                </div>

                <div class="headline"><hr></div>

                <div id="checkboxes">
                    <label>Subject</label>
                    <br>
                    <ul>
                        <li><input type="checkbox"> checkbox 1</li>
                        <li><input type="checkbox"> checkbox 2</li>
                        <li><input type="checkbox"> checkbox 3</li>
                        <li><input type="checkbox"> checkbox 4</li>
                        <li><input type="checkbox"> checkbox 5</li>
                    </ul>
                </div>

                <div class="headline"><hr></div>

            </div>

            <div class="empty gap"></div>
            <div class="results">
                <!-- results here -->

        <!-- long dummy results -->
                <div class="formatresult">
                    <div class="headline"><hr></div>
                    <b><a href="#">CourseNameHere</a></b><br> 
                    <div class="descres">
                        <!-- description start-->
                        <div class="resultdescription">
                            RatingsHere<br>
                            here write the big description paragraph.<br>
                            here write the big description paragraph.<br>
                            here write the big description paragraph.<br>
                            here write the big description paragraph.<br>
                            here write the big description paragraph.
                        </div>
                        <!-- description end -->
                        <div class="res_details">
                            <div class="diff_d">
                                #difficulty
                            </div>
                            <div class="enroll_d">
                                Total enrolled =
                            </div>
                            <div class="website_d">
                                Available on #websiteName
                            </div>
                        </div>
                    </div>
                    <div class="headline"><hr></div>
                </div>
<!-- long dummy results -->
            </div>

        </div>
        
        <div class="footer">
            <div class="bottomhead">Home</div>
            <div class="browseby">

                <div class="bbsubject">
                    Browse by Subject
                    <ul>
                        <li><a href="#">CS</a></li>
                        <li><a href="#">Math</a></li>
                        <li><a href="#">Physics</a></li>
                        <li><a href="#">Biology</a></li>
                    </ul>
                </div>

                <div class="bbprovider">
                    Browse by provider
                    <ul>
                        <li><a href="#">Coursera</a></li>
                        <li><a href="#">Udemy</a></li>
                        <li><a href="#">EdX</a></li>
                        <li><a href="#">Udacity</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </body>
</html>